<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">

        <h2><i class="fa-solid fa-user-plus"></i> Add Student</h2>

        <form method="POST">
            Student ID:
            <input type="text" name="student_id" required>

            Name:
            <input type="text" name="name" required>

            Department:
            <input type="text" name="department" required>

            <button type="submit">
                <i class="fa-solid fa-circle-plus"></i> Add Student
            </button>
        </form>

        <a href="/"><i class="fa-solid fa-arrow-left"></i> Back to Home</a>

        <footer>
            © 2025 <strong>Sanjay Murugesan</strong>
        </footer>

    </div>
</body>
</html>
